<div id="jwmodal-content" class="container">
    <div class='row' >
        <div id='jwListContent' class="jwListContent col-12">
            <div class="jwTable">
                <div class="jwTableBody" id="jwAnnonsTableBody" >
                    <!-- generated rows will go here-->
                </div>
            </div>
        </div>
        </div>
    <div class='row jw-footer'>
        <div class="col-sm-12">
        	<center>
            	<div><span style="font-size: 80%"> I samarbete med </span></div>
            	<div><img src="images/logo-af-white.svg" style="max-width: 312px; max-height: 39px;" alt="Arbetsförmedlingen"></div>
        	</center>
        </div>
    </div>
</div>

<div class="'annonshtml"></div>
